<body>
    {% extends 'ScriptTemplates.html' %}
        {% block title %}
            <title>Badge Automator</title>
        {% endblock %}

        {% block content %}

            {% block header %}
                <div class="{{ page_title_class }}">
                        <h1>Badge Automator</h1>
                </div>
            {% endblock %}

            {% block sheet_link %}
                <div class="{{ sheet_link_class }}">
                    <a href = "https://edwardslifesciences-my.sharepoint.com/:x:/g/personal/jessica_nash_edwards_com/ERgXump9fbBIr3srr-nxhbEBJRmKkDNe_8Zhxv1Y-nEp8g?e=4%3AnaNDQP&fromShare=true&at=9&CID=184354CE-AB3E-4083-9830-2AADD01DB9B0&wdLOR=cE81B379F-4664-4446-8B60-2C76AE640C3C" 
                     target="_blank"><strong>Contingent Workforce SpreadSheet</a>
                </div>
            {% endblock %}

            {% block instruction_container %}
                <div class = "{{ instruction_container_class}}">
                    <div class = "{{ instructions_video_container_class }}">
                        <video class = "{{ video_class }}" controls>
                        <source src = "{{url_for('static', filename='BUC.mp4') }}" type = "video/mp4">
                        Your brower does not support the video tag.
                        </video>
                    </div>
        
                    <div class = "{{ instructions_text_container_class}}">
                        <h2>How to Use:</h2>
                        <ol>
                            <li>Copy the information from the Contingent Workforce Spreadsheet linked above.</li>
                            <li>Paste the information into the box below.</li>
                            <li>Copy the table that populates and enter into CCURE.</li>
                        </ol>
                    </div>
            </div>
            {% endblock %}
            
            <div class="table-container">
                {% if employee_list %}
                    <table id="badgeTable">
                        
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Employee ID</th>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Department Name</th>
                            <th>Supervisor Name</th>
                            <th>Location</th>
                            <th>Clearance</th>
                            <th>Clearance</th>
                            <th>Clearance</th>
                            <th>Clearance</th>
                            <th>Clearance</th>
                        </tr>
                        {% for employee in employee_list %}
                        <tr>
                            <td> {{ employee.fname}} </td>
                            <td> {{ employee.lname}} </td>
                            <td> {{ employee.EID}} </td>
                            <td> {{ employee.title}} </td>
                            <td> {{ employee.company}} </td>
                            <td> {{ employee.dept_num}} </td>
                            <td> {{ employee.supervisor_name}} </td>
                            <td> {{ employee.location}} </td>
                            {% for clearance in employee.clearance_list %}
                                <td> {{ clearance }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor%}
                    </table>
                {% endif %}
            </div>
        </div>
        
    
        <form id="badgeCsvForm" method="POST" action="/submit_badge_csv" style="width: 100%;">
            <label for="badgeCsvForm">Paste CSV Data:</label>
            <textarea id="badgeCsvForm" name="badgeCsvForm" rows="4" style="width: 100%;"></textarea>
            <input type="submit" value="Submit">
        </form>
    
        
        {% endblock %}
</body>
