<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centerstone CSV Input</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}    

    

    <div class="content">
        <div class="page-title">
            <h1>Centerstone CSV Input</h1>
        </div>
        
        <div class ="instructions-video-container">
            <div class instructions-video> 
                <video width = "320" height = "240" controls>
                    <source src = "{{url_for('static', filename='CSR.mp4') }}" type = "video/mp4">
                    Your brower does not support the video tag.
                </video>
            </div>
            <div class="instructions">
                <h2>How to Use:</h2>
                <ol>
                    <li>Go to Centerstone Website and download All Work Orders</li>
                    <li>Upload list and press Process</li>
                </ol>
            </div>
        </div>
    </div>

    <form id="centerstoneReportForm" action="{{ url_for('processCenterstoneCsvInput') }}" method="post" enctype="multipart/form-data">

        <label for="fileUpload">Upload a file:</label>
        <input type="file" id="centerstoneFileUpload" name="centerstoneFileUpload"><br>
    
        <input type="submit" id="processButton" value="Process">
    </form>
    {% endblock %}
</body>
</html>