<body>
    {% extends 'ScriptTemplates.html' %}
        {% block title %}
            <title>Day Pass Entry</title>
        {% endblock %}

        {% block content %}

            {% block header %}
                <div class="{{ page_title_class }}">
                        <h1>Day Pass Entry</h1>
                </div>
            {% endblock %}

            {% block instruction_container %}
                <div class = "{{ instruction_container_class}}">
                    <div class = "{{ instructions_video_container_class }}">
                        <video class = "{{ video_class }}" controls>
                        <source src = "{{url_for('static', filename='MA.mp4') }}" type = "video/mp4">
                        Your brower does not support the video tag.
                        </video>
                    </div>
        
                    <div class = "{{ instructions_text_container_class}}">
                        <h2>How to Use:</h2>
                        <ol>
                            <li>Upload Traction Guest File</li>
                            <li>Press Process</li>
                        </ol>
                    </div>
            </div>
            {% endblock %}
            
            <form id="tractionGuestForm" action="{{ url_for('tractionGuestUpload') }}" method="post" enctype="multipart/form-data">

                <label for="fileUpload">Upload a file:</label>
                <input type="file" id="tractionFileUpload" name="tractionFileUpload"><br>
            
                <input type="submit" id="processButton" value="Process">
            </form>
           
        {% endblock %}
</body>
