<body>
    {% extends 'ScriptTemplates.html' %}
        {% block title %}
            <title>Moves Automator</title>
        {% endblock %}

        {% block content %}

            {% block header %}
                <div class="{{ page_title_class }}">
                        <h1>Moves Automator</h1>
                </div>
            {% endblock %}

            {% block sheet_link %}
                <div class="{{ sheet_link_class }}">
                    <a href = "https://edwardslifesciences.sharepoint.com/:x:/r/teams/FSF/_layouts/15/Doc.aspx?sourcedoc=%7B545E9D30-B133-4D88-B96D-984C884260E8%7D&file=Moves%202024.xlsx&action=default&mobileredirect=true" 
                     target="_blank"><strong>Moves SpreadSheet</a>
                </div>
            {% endblock %}

            {% block instruction_container %}
                <div class = "{{ instruction_container_class}}">
                    <div class = "{{ instructions_video_container_class }}">
                        <video class = "{{ video_class }}" controls>
                        <source src = "{{url_for('static', filename='MA.mp4') }}" type = "video/mp4">
                        Your brower does not support the video tag.
                        </video>
                    </div>
        
                    <div class = "{{ instructions_text_container_class}}">
                        <h2>How to Use:</h2>
                        <ol>
                            <li>Copy information from email, as many moves as you want.</li>
                            <li>Paste into the form below and press Process.</li>
                            <li>Copy all the data from the table into the moves spreadsheet (use the link).</li>
                            <li>Double check to make sure all information is correct.</li>
                        </ol>
                    </div>
            </div>
            {% endblock %}
            
            <div class="table-container">
                <table id="moveTable">
                    <tr>
                        <th>Date</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>From Building</th>
                        <th>Office/Cube</th>
                        <th>To Building</th>
                        <th>Office/Cube</th>
                        <th>Employee #</th>
                        <th>Ref #</th>
                        <th>Comments</th>
                    </tr>
                    {%if processed %}
                        {% if processed_data %} 
                                {% for row in processed_data %}
                                    <tr>
                                        <td>{{ row[0] }}</td>
                                        <td>{{ row[1] }}</td>
                                        <td>{{ row[2] }}</td>
                                        <td>{{ row[3] }}</td>
                                        <td>{{ row[4] }}</td>
                                        <td>{{ row[5] }}</td>
                                        <td>{{ row[6] }}</td>
                                        <td>{{ row[7] }}</td>
                                        <td>{{ row[8] }}</td>
                                        <td>{{ row[9] }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="10">No data to display.</td></tr>
                            {% endif %}
                    {% endif %}
                </table>
            </div>

            <form id="moveCsvForm" method="POST" action="{{ url_for('moveAutomatorSubmit') }}" style="width: 100%;">
                <label for="moveCsvData">Paste CSV Data:</label>
                <textarea id="moveCsvData" name="moveCsvData" rows="4" style="width: 100%;"></textarea>
                <input type="submit" value="Process">
            </form>
    
        {% endblock %}
</body>




