<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/mystyle.css">
        <title>Moves Automator</title>
    
    </head>
<body>
    {% extends 'base.html' %}

    {% block content %}   

    <div class="content">
        <div class="page-title">
            <h1>Move Automator</h1>
        </div>
        <div class="sheet-link"><a href = "https://edwardslifesciences.sharepoint.com/:x:/r/teams/FSF/_layouts/15/Doc.aspx?sourcedoc=%7B545E9D30-B133-4D88-B96D-984C884260E8%7D&file=Moves%202024.xlsx&action=default&mobileredirect=true" 
            target="_blank"><strong> Move List</strong></a>
        </div>
        
        
        
        <div class ="instructions-video-container">
            <div class instructions-video> 
                <video width = "320" height = "240" controls>
                    <source src = "{{url_for('static', filename='MA.mp4') }}" type = "video/mp4">
                    Your brower does not support the video tag.
                </video>
            </div>
            <div class="instructions">
                <h2>How to Use:</h2>
                <ol>
                    <li>Copy information from email, as many moves as you want.</li>
                    <li>Paste into the form below and press Process.</li>
                    <li>Copy all the data from the table into the moves spreadsheet (use the link).</li>
                    <li>Double check to make sure all information is correct.</li>
                </ol>
            </div>
        </div>

        <div class="table-container">
            <table id="moveTable">
                <tr>
                    <th>Date</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>From Building</th>
                    <th>Office/Cube</th>
                    <th>To Building</th>
                    <th>Office/Cube</th>
                    <th>Employee #</th>
                    <th>Ref #</th>
                    <th>Comments</th>
                </tr>
                {%if processed %}
                    {% if processed_data %} 
                            {% for row in processed_data %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[6] }}</td>
                                    <td>{{ row[7] }}</td>
                                    <td>{{ row[8] }}</td>
                                    <td>{{ row[9] }}</td>
                                    <td><button onclick="deleteRow(this)">Clear row</button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="10">No data to display.</td></tr>
                        {% endif %}
                {% endif %}
            </table>
        </div>
        <button onclick = "resetTable('moveTable','csvForm')">Clear Table</button>

        <form id="csvForm" action="{{ url_for('moveAutomatorSubmit') }}" method="post">
            <label for="csvData">Paste CSV Data:</label>
            <textarea id="csvData" name="csvData" rows="4" cols="100"></textarea>
            <input type="submit" value="Process">
        </form>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    {% endblock %}
</body>
</html>