<body>
    {% extends 'ScriptTemplates.html' %}
        {% block title %}
            <title>Quarterly Report</title>
        {% endblock %}

        {% block content %}

            {% block header %}
                <div class="{{ page_title_class }}">
                        <h1>Quarterly Report</h1>
                </div>
            {% endblock %}

            {% block instruction_container %}
                <div class = "{{ instruction_container_class}}">
                    <div class = "{{ instructions_video_container_class }}">
                        <video class = "{{ video_class }}" controls>
                        <source src = "{{url_for('static', filename='MA.mp4') }}" type = "video/mp4">
                        Your brower does not support the video tag.
                        </video>
                    </div>
        
                    <div class = "{{ instructions_text_container_class}}">
                        <h2>How to Use:</h2>
                        <ol>
                            <li>In Progress</li>
                        </ol>
                    </div>
            </div>
            {% endblock %}
            
            {% if data %}
                <h1>Quarterly Report</h1>
                <table class="styled-table" id = "quarterly-report">
                    <tr>
                        <th>Date</th>
                        <th>Total WO</th>
                        <th>Total PM</th>
                        <th>Total Events</th>
                        <th>Total None</th>
                        <th>DBC A</th>
                        <th>DBC C</th>
                        <th>DBC D</th>
                        <th>DBC E</th>
                        <th>DBC 1</th>
                        <th>DBC 2</th>
                        <th>DBC 3</th>
                        <th>DBC 4</th>
                        <th>DBC 5</th>
                        <th>DBC 6</th>
                        <th>DBC 7</th>
                        <th>Workshop</th>
                        <th>Partners</th>
                        <th>Community</th>
                        <th>ERC</th>
                        <th>LINC</th>
                        <th>HVC</th>
                        <th>Museum</th>
                        <th>LFS</th>
                        <th>LFSX</th>
                        <th>T&D</th>
                        <th>Starr Atrium</th>
                        <th>MLE</th>
                        <th>3009 Daimler</th>
                        <th>17192 Daimler</th>
                        <th>17152 Daimler</th>
                        <th>PS 1</th>
                        <th>PS 2</th>
                        <th>PS 3</th>
                        <th>1901 Alton</th>
                        <th>1921 Alton</th>
                        <th>1091 Duryea</th>
                        <th>Anton</th>
                        <th>Kettering</th>


                    </tr>
                    {% for list in data %}
                        <tr>
                            <td>{{ list.date }}</td>
                            <td>{{ list.total_wo }}</td>
                            <td>{{ list.total_pm }}</td>
                            <td>{{ list.total_event }}</td>
                            <td>{{ list.none }}</td>
                            <td>{{ list.dbc_a }}</td>
                            <td>{{ list.dbc_c }}</td>
                            <td>{{ list.dbc_d }}</td>
                            <td>{{ list.mic }}</td>
                            <td>{{ list.dbc_1 }}</td>
                            <td>{{ list.dbc_2 }}</td>
                            <td>{{ list.dbc_3 }}</td>
                            <td>{{ list.dbc_4 }}</td>
                            <td>{{ list.dbc_5 }}</td>
                            <td>{{ list.dbc_6 }}</td>
                            <td>{{ list.dbc_7 }}</td>
                            <td>{{ list.workshop }}</td>
                            <td>{{ list.prt }}</td>
                            <td>{{ list.community }}</td>
                            <td>{{ list.erc }}</td>
                            <td>{{ list.linc }}</td>
                            <td>{{ list.hvc }}</td>
                            <td>{{ list.museum }}</td>
                            <td>{{ list.lfs }}</td>
                            <td>{{ list.lfsx }}</td>
                            <td>{{ list.tnd }}</td>
                            <td>{{ list.starr_atrium }}</td>
                            <td>{{ list.mle }}</td>
                            <td>{{ list.daimler_3009 }}</td>
                            <td>{{ list.daimler_17192 }}</td>
                            <td>{{ list.daimler_17152 }}</td>
                            <td>{{ list.ps1 }}</td>
                            <td>{{ list.ps2 }}</td>
                            <td>{{ list.ps3 }}</td>
                            <td>{{ list.alton_1901 }}</td>
                            <td>{{ list.alton_1921 }}</td>
                            <td>{{ list.duryea_1091 }}</td>
                            <td>{{ list.anton }}</td>
                            <td>{{ list.kettering }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}


            
            <form action="/process_quarterly_report", method="post">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date">

                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date">
                

                <input type="submit">
              </form>
            
            
        {% endblock %}
</body>













