{% extends 'base.html' %}

{% set page_title_class = "page-title" %}
{% set sheet_link_class = "sheet_link" %}
{% set instruction_container_class = "instruction_container" %}
{% set instructions_video_container_class = "instruction_video_container column" %}
{% set instructions_text_container_class = "instructions_text_container column" %}
{% set video_class = "video" %}

{% block content %}
    {% block header %}
        <div class="{{ page_title_class }}">
            <h1>Template Header</h1>
        </div>
    {% endblock %}

    {% block sheet_link %}
        <div class="{{ sheet_link_class }}">
            <a href = "" target="_blank">Template Link</a>
        </div>
    {% endblock %}

{% endblock %}

{% block instruction_container %}
    <div class = "{{ instruction_container_class}}">
        <div class = "{{ instructions_video_container_class}}">
            <p>Column 1</p>
        </div>

        <div class = "{{ instructions_text_container_class}}">
            <p>Column 2</p>
        </div>
    </div>

{% endblock %}




