<body>
    {% extends 'ScriptTemplates.html' %}
    {% block title %}
        <title>Walk In Tracker</title>
    {% endblock %}

    {% block content %}
        {% block header %}
        <div class="{{ page_title_class }}">
            <h1>Walk In Tracker</h1>
        </div>
        {% endblock %}

        <form id = "walkinForm" method="POST" action="/submit_walkin_form" style="width: 100%; display: flex; justify-content: space-between;">
            <div class="column">
                <div class="radio-option">
                    <input type="radio" id="newBadge" name="tracker" value="New Badge">
                    <label for="newBadge">Badge: New</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="lostBadge" name="tracker" value="Lost Badge">
                    <label for="lostBadge">Badge: Lost</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="brokenBadge" name="tracker" value="Broken Badge">
                    <label for="brokenBadge">Badge: Broken</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="miscBadge" name="tracker" value="Misc Badge">
                    <label for="miscBadge">Badge: Misc</label>
                </div>
            </div>

            <div class="column">
                <div class="radio-option">
                    <input type="radio" id="evQuestion" name="tracker" value="EV Question">
                    <label for="evQuestion">EV Question</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="conferenceQuestion" name="tracker" value="Conference Question">
                    <label for="conferenceQuestion">Conference Question</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="lostFound" name="tracker" value="Lost and Found">
                    <label for="lostFound">Lost and Found</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="mapRequest" name="tracker" value="Map Request">
                    <label for="mapRequest">Map Questions</label>
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>

        {% if data %}
        <div class="table-container">
            <h2>Walk In Table || Security: {{ security_count}} || Non-Security: {{ non_security_count }}</h2>
            <table id="walkin-table">
                <tr>
                    <th>Date</th>
                    <th>Security</th>
                    <th>Reason</th>
                </tr>
                {%for item in data%}
                </tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.security }}</td>
                    <td>{{ item.value }}</td>
                </tr>
                {% endfor %}
                
            </table>
        
            
        {% endif %}

    {% endblock %}
</body>